@page "/multiplicationfacts"

<PageTitle>Multiplication Facts</PageTitle>

@using MathFacts.Client.Data
@inject MathFactService MathFactService

<div class="d-flex flex-row justify-content-between"><h3 id="printTitle">Multiplication Facts</h3>
<input id="printer" class="btn btn-primary"type="button" value="Print Sheet" onclick="printFacts()"></div>
<br>
@if (mathFacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="printDiv" class="container">
    <div class="row">
        @foreach (MathFact fact in mathFacts)
            {
                <div class="col-1 text-end">
                    @fact.FirstNum
                    <br>
                    @fact.Operator
                    &numsp;
                    @fact.SecondNum
                    <hr class="solid">
                    &numsp;
                </div>
            }
        </div>
    </div>
}


@code {

    private MathFact[]? mathFacts;

    protected override async Task OnInitializedAsync()
    {
        mathFacts = await MathFactService.GetMultiplyFacts();
    }
}