@page "/multiplicationfacts"

<PageTitle>Multiplication Facts</PageTitle>

@using MathFacts.Client.Data
@inject MathFactService MathFactService

<PageHeader PageTitle="Multiplication Facts" />
<br>

@if (mathFacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="printDiv" class="container">
    <div class="row">
        @foreach (MathFact fact in mathFacts)
            {
                <div class="col-1 text-end">
                    @fact.FirstNum
                    <br>
                    @fact.Operator
                    &numsp;
                    @fact.SecondNum
                    <hr class="solid">
                    &numsp;
                </div>
            }
        </div>
    </div>
}


@code {

    private MathFact[]? mathFacts;

    protected override async Task OnInitializedAsync()
    {
        mathFacts = await MathFactService.GetMultiplyFacts();
    }
}